{{define "title"}}Create Todo Item{{end}}

{{define "content"}}
<h3>Create Todo Item</h3>
<br>
<a href="/admin" class="btn btn-default">Menu</a>
<br>
<br>
<br>

<form name="mytodoitemformular" id="mytodoitemformular">
  <label for="item">Item:</label><br>
  <input type="text" id="item" name="item" value=""><br><br>
  <label for="done">Done:</label><br>

  <input type="submit" value="Create Todo Item" class="btn btn-default">
  <input type="reset" value="Reset" onclick="resetAlert()" class="btn btn-default">
</form>

<div id="data" class="alert alert-warning"></div>

<script>
    function convertFormToJSON(form) {
      const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
      const json = {};
      $.each(array, function () {
        if(this.value) {
          json[this.name] = this.value;
          //json[this.name] = this.value || "";
        }
      });
      return json;
    }

    function resetAlert() {
        document.getElementById("data").innerHTML="";
    }

    $("#mytodoitemformular").on("submit", function (e) {
      e.preventDefault();
      const form = $(e.target);
      const json = convertFormToJSON(form);
      console.log(json);
      
      var xhr = new XMLHttpRequest();
      var url = "/todo/api/todo/add";
      xhr.open("PUT", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");

      // sanitize numbers for json object instead of strings
      // only number is needed at the moment
      
      // json.number = +json.number

      // transform json obj to text

      var dataText = JSON.stringify(json) 
    
      xhr.send(dataText);

      xhr.onreadystatechange = function() {
      if (xhr.readyState == XMLHttpRequest.DONE) {
            document.getElementById("data").innerHTML="A new todo item has been added.";
          }
      }

    });
</script>
{{end}}