{{define "title"}}Todo Item Manage{{end}}

{{define "content"}}
<h3>Todo Item Manage</h3>

<br>

<div class="col-md-4">

<h4>Todo Item Manage</h4>

<a href="/" class="btn btn-default">Todo items manage check</a>

<br>
<br>

<ul class="list-group">
    <li class="list-group-item"><a href="/admin/show_all_todo.html">Show All Todos</a></li>
    <li class="list-group-item"><a href="/admin/create_todo.html">Create Todo</a></li>
    <li class="list-group-item"><a href="/admin/edit_id_todo.html">Edit Todo by ID</a></li>
    <li class="list-group-item"><a href="/admin/delete_id_todo.html">Delete Todo by ID</a></li>
    <li class="list-group-item"><a href="/admin/delete_all_todo.html">Delete All Todos</a></li>
</ul>

</div>
{{end}}